header{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit';
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    list-style: none;
    text-align: center;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

a{
    text-decoration: None;
    color: white;
}

header ul li a:hover{
    color:rgb(116, 4, 190);
}

h1{
    font-size: 40px;
    font-weight: bold;
    
}

#p-login{
    margin-top:100px;
    text-decoration-line: underline;
    padding: 20px;
    text-align: left;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 1, 122)
}

.secao-login{
    
    border: 2px solid black;
    border-radius: 15px;
    font-size: 2em;
    background-color: rgb(217, 168, 230);
    text-align: center;
    width: 50%;
    height: 50%;
    position: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 100%;
    height: 100%;
}

.user input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.user label{
    margin-top:15px ;
    margin-bottom: 0px;
}

.user input:focus, button:hover{
    background-color: rgba(187, 126, 126, 0);
    box-shadow: 0px 5px 3px 3px rgb(134, 98, 192)
}


.footer{
    font-size: 24px;
    justify-content: center;
    align-items: end;
    margin-top: 120px;
    display: flex;
}

.footer p a:hover{
    color: rgb(116, 4, 190);
}

form button{
    width: 20%;
    border-radius: 10px;
    margin-top: 10px;
    padding:5px;
    cursor: pointer;
}
   
